* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

/* MESSAGE LIST
************************************************** */
.messages {
  list-style-type: none;
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
}
.messages li {
  padding: 10px 15px;
}
.messages li:nth-child(odd) {
  background: #EEE;
}
.messages li span {
  color: #AAA;
}

/* ACTION BAR
************************************************** */
.actions {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #6B5C74;
}

/* USER SELECT
************************************************** */
.users-label {
  position: relative;
  width: 30%;
  border-right: 1px solid transparent;
}
.users-label:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid black;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  pointer-events: none;
}

.users {
  width: 100%;
  padding: 10px;
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-color: #EEE;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  transition: all .25s ease;
}
.users:hover {
  background-color: #ccc;
}

/* MESSAGE INPUT
************************************************** */
.input {
  width: 45%;
  padding: 10px;
  margin-right: .5%;
  border: 0;
  outline: none;
  font-size: 14px;
}

/* SEND BUTTON
************************************************** */
.send {
  width: 25%;
  padding: 10px;
  background-color: #74CADA;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: all .25s ease;
}
.send:hover {
  background-color: #3FB5CB;
}

/* MEDIA QUERIES
************************************************** */
@media screen and (min-width: 600px) {
  .users-label {
    width: 20%;
  }
  .input {
    width: 65%;
  }
  .send {
    width: 15%;
  }
}

@media screen and (min-width: 769px) {
  .users-label {
    width: 15%;
  }
  .input {
    width: 75%;
  }
  .send {
    width: 10%;
  }
}
